/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, article, aside, figure, figcaption, footer, header, nav, section, ul, ol, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}


/*custom styles*/
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: white;
    font-family: Oswald, sans-serif;
    line-height: 1.5;
    text-align: center;
    font-weight: 300;
}

header {
    background-color: #43214d;
    padding: 2rem;
    
}

/*typography*/

.heading {
    text-transform: uppercase;
    margin: 2rem;
}

.heading-primary {
    font-size: 6rem;
    color: hsl(38, 96%, 50%);
    opacity: 0.8;
    transition: opacity 0.7s;
}

span {
    margin-top: 2rem;
    text-transform: capitalize;
    display: block;
    font-family: Lobster;
    
}

.heading-secondary {
    font-size: 4rem;
    color: #84389C;
    transform: skewY(-5deg);
    background-color: cyan;
    padding: 2rem;
    margin-bottom: 4rem;
    font-weight: bold;
    transition: transform 0.3s;
}

.heading-tertiary {
    font-weight: bold;
    font-size: 3rem;
    color: cyan;
    border-bottom: 1px solid cyan;
    padding: 0.5rem;
}

.info-text {
    font-size: 2rem;
    line-height: 2;
    letter-spacing: 0.7px;
}

figure {
    background-color: #43214d;
}

figcaption {
    padding: 1rem;
    font-size: 1.8rem;
}

img {
    max-width: 100%;
}

.info {
    background-color: #FAA517;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info-card {
    background-color: #43214d;
    padding: 3rem;
}

.link {
   font-size: 2.5rem;
   background-color: cyan;
   padding: 3rem;
   width: 100%;
   font-weight: bold;
   color:  #43214d;
   cursor: pointer;
}

.link:hover {
    color: #84389C;
}

footer {
    background-color: #43214d;
    padding: 1rem;
    font-size: 1.8rem;
}

/*animations*/
.heading-secondary:hover {
    transform: skewY(-5deg) scale(1.1);
}

.heading-primary:hover {
    opacity: 1;
}


@media(min-width:1024px) {
    html {
        font-size: 70%;
    }
    
   .heading-secondary {
    flex: 0 1 30rem;
   }
   
    .info-card {
        flex: 1 0 30rem;
        border-radius: 1rem;
        margin: 2rem;
    }

    .link {
        flex-basis: 40rem;
    }
}
